<html>
<head>
<%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
<% if current_user && current_user.isadmin%>
    <h1>hello Admin</h1>
    <%=button_to "Add Restaurant",new_main_path,method: :get%>

    <%@restaurant_all.each do |resto|%>
        <div class="main_cont">
            <div class="cont">
                 <% if resto.restaurant_image.present? %>
                    <%= image_tag(url_for(resto.restaurant_image)) %>
                 <% else %>
                    <p>No image available</p>
                 <% end %>
                <p>Name:<%=resto.name%></p>
                <p>Email:<%=resto.email%></p>
                <p>Phone Number:<%=resto.phno%></p>
            </div>
            <div class="btn">
                    <%= button_to "Select",menu_item_path, params:{id: resto.id}, method: :get,class:"btn_in"%>
                    <%= button_to "Edit",root_path,class:"btn_in"%>
                    <%= button_to "Delete",main_path(resto),method: :delete,class:"btn_in"%>
            </div>
           
        </div>
    <%end%>
<%else%>
    <% if user_signed_in?%>
        <h1>hello <%=current_user.username%></h1>
        <%@restaurant_all.each do |resto|%>
        <div class="main_cont">
            <div class="cont">
                <p>Name:<%=resto.name%></p>
                <p>Email:<%=resto.email%></p>
                <p>Phone Number:<%=resto.phno%></p>
            </div>
            <div class="btn">
                    <%= button_to "Select",menu_item_path, params:{id: resto.id}, method: :get%>
                </div>
        </div>
        <%end%>
    <%end%>
<%end%>
</body>
</html>
