<html>
<head>
<%= stylesheet_link_tag 'menu_item', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>

<% @menus.each do |menu| %>
    <div class="main_cont">
        <div class="cont">
        <p> <%=menu.name%> </p>
        <p> <%=menu.item_price%> </p>
        </div>
        <div class="btn">
            <%= button_to "Add", menu_item_path,params:{menu_item_id: menu.id,restaurant_id: menu.restaurant.id},method: :post%>
        </div> 
        </div>
<%end%>
<div class="digg_pagination">
    <div class="page_info">
      <%= page_entries_info @menus %>
    </div>
    <div class="center-a">
    <%= will_paginate @menus, :container => false %>
    <div>
  </div>
  </body>
</html>