<%= form_for(resource, url: (@resource.is_a?(MenuItem) ? {controller: 'menu_item', action: 'create'} : {controller: 'main', action: 'create'})) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  
  <% if @resource.is_a?(Restaurant) %>
    <div class="field">
        <%= form.label :email %>
        <%= form.text_field :email %>
    </div>
     <div class="field">
        <%= form.label :phno %>
        <%= form.text_field :phno %>
    </div>
    
  <%end%>
  <%if @resource.is_a?(MenuItem)%>
  <%= form.hidden_field :restaurant_id, value: @resto.id if @resto.present? %>
    <div class="field">
        <%= form.label :item_price %>
        <%= form.text_field :item_price %>
    </div>
  <%end%>
  <div class="field">
        <%= form.label :image %>
        <%= form.file_field :image %>
    </div>
  <%= form.submit %>
<% end %>